<!DOCTYPE html>
<html lang="en" class="text-base overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/icon-32.png" />
    <link rel="stylesheet" href="/src/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= VITE_APP_ORG_NAME %> Cloud Manager</title>
  </head>
  <body
    class="max-h-full text-xs overscroll-none dark:bg-neutral-800 dark:text-white"
  >
    <div id="root">
      <div class="flex flex-col items-center justify-center gap-4 min-h-dvh">
        <img src="/icon.png" class="w-28 h-28" />
        <h1 className="text-2xl text-center font-turret-road">
          <%= VITE_APP_ORG_NAME %>
        </h1>

        <h2 className="text-3xl text-center font-turret-road text-orange-500">
          Cloud Manager
        </h2>
      </div>
    </div>
    <script type="module" src="/src/cloud.jsx"></script>
  </body>
</html>
