<!DOCTYPE html>
<html lang="en" class="text-base overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= VITE_APP_NAME %></title>
    <meta name="description" content="<%= VITE_APP_DESCRIPTION %>" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />
    <link rel="mask-icon" href="/maskable-icon-512x512.png" color="#FFFFFF" />
    <meta property="og:title" content="<%= VITE_APP_NAME %>" />
    <meta property="og:description" content="<%= VITE_APP_DESCRIPTION %>" />
    <meta property="og:image" content="/maskable-icon-512x512.png" />
    <meta name="theme-color" content="#ffffff" />
    <script src="/telegram-web/public/compatTest.js"></script>
    <script type="module" src="/src/index.js"></script>
    <!-- <link href="/src/index.css" rel="stylesheet" /> -->
  </head>
  <body id="root">
    <div id="portals"></div>
  </body>
</html>
