<!DOCTYPE html>
<html lang="en" class="text-base">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/icon-32.png" />
    <link rel="stylesheet" href="/src/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= VITE_APP_NAME %></title>
  </head>
  <body class="max-h-full text-xs">
    <div id="root">
      <div class="flex flex-col items-center justify-center gap-4 min-h-dvh">
        <img src="/icon.png" class="w-28 h-28" />
        <h1 class="text-lg font-bold font-turret-road"><%= VITE_APP_NAME %></h1>
      </div>
    </div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
